@font-face {
  font-family: Chillax;
  src: url(./Fonts/63cffc0a3942456e003bc265_Chillax-Regular.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
  width: 100%;
  font-family: Chillax;
  color: white;
  background-color: #212121
}

body {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;

  gap: 1rem;
}

nav {
  width: 100%;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
}

 .btn {
  padding: 1rem 1rem;
  background-color: #ff0033;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

 /* New Task window  Styling */
.new-task-adder-window {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0 ,0.5);
  backdrop-filter: blur(5px);
}
.new-task-adder-window .close{
position: absolute;
top: 1rem;
right: 1rem;
}

.new-task-adder-window .wrapper-new-task{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: 1px solid white;
  padding: 1.5rem;
  border-radius: 15px;
}
.new-task-adder-window .wrapper-new-task input , textarea{
  border: 2px solid white;
  background-color: transparent;
  padding: 1rem;
  border-radius: 15px;
  color: white;
}
.new-task-adder-window .wrapper-new-task h1{
  width: 100%;
  text-align: center;
}
/* New Task window  Styling above*/

section {
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: 2rem;
  padding: 0.8rem 1rem;
}

section .cols {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 0;
  border-radius: 15px;
  border: 2px solid white;
  
}

section .cols .wrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid white;
  width: 100%;
  justify-content: space-between;
}

section .cols .wrapper p {
  width: 100%;
}
section .cols .wrapper p:nth-child(1) {
  text-align: center;
  font-size: 2rem;
}
section .cols .wrapper p:nth-child(2) {
  text-align: end;
  padding: 0.5rem 1.5rem;
}

section .cols .bottom{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap:1rem;
}






/*Card Styling*/

.card{
  width: 100%;
  padding: 1rem;
  color: white;
  border: medium dashed white;
  border-radius: 15px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}
.card .btn {
  margin-left: auto;
}




/*Styling for inputs (Better UX)*/

input::placeholder,
textarea::placeholder,input,
textarea {
  font-family: "Chillax", sans-serif;
  font-size: 1rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}